<div class="card card-body p-8 mt-5">
  <h1 class="display-4">Formulario de registro diplomado gratuito</h1>
  <p class="lead">Manifiesto que de conformidad con la Ley 1581 de 2012, 
    la Ley 1751 de 2015 y demás normas relacionadas, que los datos personales 
    aquí suministrados, serán recolectados con el propósito de ser tratados 
    electrónicamente, bajo estrictas medidas de confidencialidad por parte 
    del Campus Virtual Unilibre. Dicha información deberá ser empleada 
    únicamente para fines académicos de su matrícula en el Diplomado</p>
  <hr class="my-4" />
  <div class="image">
    <img src="img/portada.png" alt="">
  </div>
  <div>
    <a
      class="btn btn-primary"
      href="/auth/signup"
      role="button"
    >Registrarse</a>
  </div>
</div>